@import './_fonts.css';
@import './_vars.css';

body {
    font-family: var(--font-roboto);
    font-weight: 400;
}
/* ==================> navbar helper classes <============== */
.brand-logo {
    width: 24px;
    height: 24px;
}
.nav-link {
    font-weight: 600;
    line-height: 19px;
    color: var(--color-black);
}
.form-control {
    background: #E9E9E9;
    line-height: 19px;
    color: var(--color-gray);
}

.form-control::placeholder {
    line-height: 19px;
    color: var(--color-gray);
}
.bg-search-icon {
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
}
.user-profile {
    width: 24px;
    height: 24px;
    background: #E9E9E9;

    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 9.6px;
    line-height: 12px;
}
/* ==================> utilities <======================== */
.py-2-5 {
    padding: .75rem 0;
}
.mt-huge {
    margin-top: 248px;
}
.pt-6 {
    padding-top: 5.5rem;
}
/* ===========> Preview box styles <=============== */
.preview-box {
    width: 1016px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}
.preview-box--img-wrapper {
    width: 50%;
}
.preview-box--text-content {
    width: 50%;
}
.img-search-icon {
    width: 34px;
    height: 34px;
    top: 52%;
    right: 10px;
    cursor: pointer;
}
@media screen and (min-width: 992px) {
    .img-search-icon {
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .img-search-icon {
        width: 44px;
        height: 44px;
    }
}
/* ===========> more items section <================ */
.items {
    width: 236px;
    height: 418px;
}
.items-badge {
    top: 8px;
    left: 8px;
    height: 24px;
    background: rgba(255, 255, 255, 0.8);

    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: var(--color-black);
}
.item-badge-pins {
    background-image: url(../images/idea-pin.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 6px center;
}