@import './_fonts.css';
@import './_vars.css';

body {
    font-family: var(--font-roboto);
    font-weight: 400;
}
/* ==================> navbar helper classes <============== */
.nav-link {
    font-weight: 600;
    line-height: 19px;
}
.form-control {
    line-height: 19px;
    color: var(--color-gray);
}

.form-control::placeholder {
    line-height: 19px;
    color: var(--color-gray);
}
.bg-search-icon {
    background-image: url(../images/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 16px center;
    background-size: 16px;
}
.user-profile {
    font-size: 9.6px;
    line-height: 12px;
}
/* ==================> utilities <======================== */
.py-2-5 {
    padding: .75rem 0;
}
.p-4-5 {
    padding: 2rem;
}
.mt-huge {
    margin-top: 248px;
}
.mt-6 {
    margin-top: 59px;
}
.pt-6 {
    padding-top: 5.5rem;
}
.pe-62 {
    padding-right: 62px;
}
.mt-72 {
    margin-top: 72px;
}
.mb-122 {
    margin-bottom: 122px;
}
.border-bottom-gray {
    border-bottom: 1px solid #EFEFEF;
}
.px-4-5 {
    padding: 0 2rem;
}
.w-3 {
    width: 3rem;
}
.w-square-24 {
    width: 24px;
    height: 24px;
}
.w-square-20 {
    width: 20px;
    height: 20px;
}
.h-3 {
    height: 3rem;
}
.h-3-25 {
    height: 3.25rem;
}
/* ==========> Fonts <============================= */
.ff-inter {
    font-family: var(--font-inter);
}
/* ==========> colours <=========================== */
.bg-gray-light-2 {
    background-color: var(--color-gray-light-2);
}
.bg-red {
    background-color: var(--color-red);
}
.text-gray-2 {
    color: var(--color-gray-2);
}
.text-black-1 {
    color: var(--color-black-1);
}
.text-black-2 {
    color: var(--color-black-2);
}

/* ===========> Positions <======================== */
.end-1 {
    right: 1rem;
}
.start-1 {
    left: 1rem;
}
@media screen and (min-width: 991px) {
    .start-1{
        left: -2rem;
    }
}
@media screen and (min-width: 1400px) {
    .start-1{
        left: -2rem;
    }
}
.top-7 {
    top: 7rem;
}
/* ===========> Preview box styles <=============== */
.preview-box {
    width: 1016px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
}
.side {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .side {
        width: 50%;
    }
}
.side-left {

}
.side-right {

}
.img-search-icon {
    width: 34px;
    height: 34px;
    top: 52%;
    right: 10px;
    cursor: pointer;
}
.save-btn {
    width: 68.39px;
    line-height: 19px;
    letter-spacing: 1px;
}
.follow-btn {
    width: 80.77px;
    background: var(--color-gray-light);
    line-height: 19px;
    letter-spacing: .5px;
}
.user-img-wrapper {
    background-color: var(--color-gray-light);
    width: 48px;
    height: 48px;
}
.user-img {
    width: 48px;
    height: 48px;
}
.user-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-black-1);
}
.user-followers {
    font-size: 14px;
    line-height: 16px;
    color: var(--color-black-1);
}
.comments-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: var(--color-black-1);
}
.comments-desc {
    line-height: 19px;
    color: #5F5F5F;
}
input::placeholder {
    color: var(--color-gray-2);
}
input:focus {
    outline: none;
}
@media screen and (min-width: 992px) {
    .img-search-icon {
        width: 40px;
        height: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .img-search-icon {
        width: 44px;
        height: 44px;
    }
}
/* ===========> more items section <================ */
.items {
    width: 236px;
    height: 418px;
}
.items-badge {
    top: 8px;
    left: 8px;
    height: 24px;
    background: rgba(255, 255, 255, 0.8);

    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: var(--color-black-1);
}
.item-badge-pins {
    background-image: url(../images/idea-pin.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 6px center;
}